:root {
  font: 16px / 1 sans-serif;
}

body {
  margin: 0;
  min-height: 100%;
  // background-color: #343a40;
}

.results {
  a:link,
  a:visited,
  a:focus,
  a:hover,
  a:active {
    color: #f4f7f5;
  }
  list-style: none;
  text-align: center;
}

footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  position: sticky;
  top: 0;
  background-color: #100007;
  background-clip: padding-box;
  border-top: 1px solid #08090a;
  box-shadow: 0 0.5rem 1.25rem rgba(0, 0, 0, 0.05);
  font-family: 'Bangers', cursive;
  color: #3e92cc;
}
