.submit {
  background-color: #3e92cc;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.delete {
  background-color: red;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  width: 15%;
  display: flex;
}

.edit {
  background-color: #3e92cc;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  width: 15%;
  display: flex;

  cursor: pointer;
  a:link,
  a:visited,
  a:focus,
  a:hover,
  a:active {
    color: #f4f7f5;
    text-decoration: none;
  }
}
