.map {
  box-shadow: black;
  color: black;
  @include center;
}

.map {
  margin: 2rem 2rem 2rem;
  // position: relative;
  // overflow: hidden;
  // height: 0;
  // padding-top: 25rem;
  // border: blue double;
}

.popup {
  font-size: 1vh;
  display: flex;
  justify-content: center;
}
