@import 'variables';
@import 'mixins';

.movieList {
  display: grid;
  grid-template-columns: 1fr;
  max-width: 960px;
  gap: 1rem;
  padding: 1rem;
  margin: auto;
  a:link,
  a:visited,
  a:focus,
  a:hover,
  a:active {
    color: #f4f7f5;
  }

  li {
    list-style: none;
    // text-align: center;
    @include transition();
    padding-right: 1.5rem;

    &:hover {
      transform: scale(1.06);
    }

    img {
      box-shadow: 0 2px 50px -2px #343a40;
      border-radius: 0.5rem;
    }
  }
}

.category {
  @include center;
  color: #3e92cc;
  font-size: 80px;
  font-family: 'Diplomata SC', cursive;
  text-shadow: 0 0 50px #343a40, 0 0 30px #343a40, 0 0 6px;
}
@media (min-width: 600px) {
  .movieList {
    grid-template-columns: 1fr 1fr;
  }
}
@media (min-width: 960px) {
  .movieList {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media (min-width: 1360px) {
  .movieList {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}
