@import 'variables';
@import 'mixins';

.locationResults {
  a:link,
  a:visited,
  a:focus,
  a:hover,
  a:active {
    color: #f4f7f5;
    display: grid;
    grid-template-columns: 1fr;
    max-width: 960px;
    gap: 1rem;
    padding: 1rem;
    margin: auto;
  }
  list-style: none;
  // text-align: center;
  display: grid;
  flex-direction: column;
  flex-wrap: wrap;
  // justify-content: center;
  // align-items: center;
}
.category {
  @include center;
  color: #3e92cc;
  font-size: 80px;
  font-family: 'Diplomata SC', cursive;
  text-shadow: 0 0 50px #343a40, 0 0 30px #343a40, 0 0 6px;
}
